.album-banner {
    position: relative;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: end;
}

.album-banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Height of the shadow */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    pointer-events: none; /* Ensures the shadow doesn't interfere with clicks */
    z-index: 1;
}

.album-banner-btn {
    color: var(--album-color);
    text-decoration: none;
    font-size: 20px;
    z-index: 2;
    margin-left: 12%;
    transition: color 0.2s ease;
}

.album-banner-btn:hover {
    color: white;
}

.album-banner-title {
    font-size: 60px;
    margin: 0;
    z-index: 2;
    margin-left: 12%;
}

.album-banner-date {
    font-size: 25px;
    margin: 0;
    margin-bottom: 15px;
    z-index: 2;
    margin-left: 12%;
}



