.button {
    font-size: 25px;
    background-color: #2a2a2a;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #e34039;
    color: #fce51d;
}