.tracklist-section {
    margin-top: 40px;
}

.tracklist-section .track-card:nth-child(2) {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.tracklist-section .track-card:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.tracklist-title {
    margin: 0;
    font-size: 30px;
}