.discography-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.discography-title {
    font-size: 3rem;
}

@media(width <= 1028px) {
    .discography-title {
        font-size: 2.1rem;
        margin: 2rem 0 0 0;
        text-align: center;
    }
}