.album-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: white;
    max-width: 300px;
    justify-self: center;
}

.album-card:hover {
    transform: scale(1.05); /* Expande la card */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Mejora el efecto visual */
}

.album-card-img {
    aspect-ratio: 1/1;
    width: 300px;
}

.album-card-name {
    font-size: 20px;
}

.album-card-release {
    font-weight: bold;
}

@media (width <= 1028px) {
    .album-card {
        max-width: 250px;
    }

    .album-card-img {
        max-width: 250px
    }
}

@media (max-width: 768px) {
    .album-card {
        max-width: 200px;
    }

    .album-card-img {
        width: 200px;
    }
}
