.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e34039;
    padding-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.footer-text {
    color: #fce51d;
    font-weight: bold;
    font-size: 20px;
}

.footer-icon {
    width: 40px;
    height: 40px;
    justify-content: space-between;
}

.footer-icon:hover {
    cursor: pointer;
}