.band-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 300px;
}

.band-section-title {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}

.band-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.band-section-text {
    width: 60%;
    font-size: 20px;
}

.band-section-img {
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
    filter: drop-shadow(0 2px 5px rgba(227, 64, 57, 0.7));
}